# 함수= 입력을 받아서 출력을 내보내는 박스로 생각할수 있다.

In [3]:
def print_address():
    print("서울특별시 종로구 1번지")
    print("파이션 빈딩 7동")
    print("홍길동"

In [16]:

def print_address():
    for i in range(10):
        print("서울특별시 종로구 1번지")
        print("파이션 빈딩 7동")
        print(name)

In [7]:
 print_address()

서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동

In [19]:
def print_address():
    print("서울특별시 종로구 1번지")
    print("파이션 빈딩 7동")
    print("name")

In [5]:
 print_address()

서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동

In [11]:
for i in range(10):
    print_address()

0 서울특별시 종로구 1번지
0 파이션 빈딩 7동
0 홍길동
1 서울특별시 종로구 1번지
1 파이션 빈딩 7동
1 홍길동
2 서울특별시 종로구 1번지
2 파이션 빈딩 7동
2 홍길동
3 서울특별시 종로구 1번지
3 파이션 빈딩 7동
3 홍길동
4 서울특별시 종로구 1번지
4 파이션 빈딩 7동
4 홍길동
5 서울특별시 종로구 1번지
5 파이션 빈딩 7동
5 홍길동
6 서울특별시 종로구 1번지
6 파이션 빈딩 7동
6 홍길동
7 서울특별시 종로구 1번지
7 파이션 빈딩 7동
7 홍길동
8 서울특별시 종로구 1번지
8 파이션 빈딩 7동
8 홍길동
9 서울특별시 종로구 1번지
9 파이션 빈딩 7동
9 홍길동

In [18]:
 print_address()

서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동
서울특별시 종로구 1번지
파이션 빈딩 7동
홍길동

In [22]:
def calc_area(radlus):
    
    area= 3.14 * radlus ** 2
    print("함수내 의 값",area)
    radls=radlus+1
    return area,radls

In [23]:
c_area,c_radls = calc_area (5.0)
print("함수밖 값", c_area,c_radls)

함수내 의 값 78.5
함수밖 값 78.5 6.0

In [6]:
a=2
a=a **5
print(a)

32

In [9]:
def calc_area(radlus):                    #radius=5.0
    print("전달값")
    area= 3.14 * radlus ** 2              #area=3.14*radlus**2
    print("함수내 의 값",area)             #print("함수내 겂",area)
    return area

In [42]:
def get_sum(stat,end):
    sum = 0
    for n in range(stat, end+1):
        sum= sum+n
        return sum

In [41]:
sum=get_sum(1,10)
print(sum)

5

In [58]:
def add(a,b):
    return a+b

In [59]:
add(1,2)

3

In [60]:
def add(a,b):
    return a-b

In [61]:
add(2,1)

1

In [62]:
c=add(1,2)
print(c)

-1

In [63]:
a1=1
b=3
c=add(a1,b)

In [2]:
def add(a,b):
    print("%d %d 의합은 %d입니다."%(a,b,a+b))

In [3]:
add(3,4)

3 4 의합은 7입니다.

In [4]:
c=add(3,4)
print(c)

3 4 의합은 7입니다.
None

In [5]:
def add(a,b):
    return a+b

In [7]:
result=add(a=3,b=4)

In [8]:
print(result)

7

In [9]:
def say_myslf(name,old,man=True):
    print("나의 이름은 %s 입니다"%(name))
    print("나의 나이는 %d 살입니다."%(old))
    if man:
        print("나는 남자입니다.")
    else: 
        print("나는여자입니다")

In [11]:
say_myslf("홍길동",18,False)

나의 이름은 홍길동 입니다
나의 나이는 18 살입니다.
나는여자입니다

In [12]:
add=lambda a,b: a+b  #def add(a.b)
                    # c=a+b
                    # return c
resuit=add(3,4)

In [14]:
print(result)

7

In [15]:
def add(a,b):
    return a+b

In [16]:
f=open("새파일2.txt","w")    #write
f.close()

In [3]:
f=open("새파일.txt","r",encoding="utf8")    #write
while True:

    line=f.readline()
    if not line:
        break
line=f.readline()
print(line)

In [ ]:
f=open("새파일.txt","r",encoding="utf8")    #writ

    line=f.readline(dat)
line=f.readline()
print(line)

In [6]:
f=open("foo.txt","w")
f.write("오늘 파이션을 공부하엿습니다.\n")
f.write("머리가 너무 터질것같아요.")
f.close()

In [9]:
with open("foo2.txt","w")as f:
    f.write("오늘 파이션을 공부하엿습니다.")
    f.write("공부가 너무 쉬웠습니다..")

In [5]:
a=[1,2,3,4]
print(a)

[1, 2, 3, 4]

In [8]:
a.insert(2,6)
print(a)

[5, 1, 6, 5, 2, 3, 4]

In [ ]:
dl